

*{   
	/* background-color: thistle !important; */
	margin: auto;
	padding: auto;
}

.Team_content h1{
	font-size: 60px;
	font-weight: 100;
	margin-top: 24px;
	margin-bottom: 15px;
	color: #232d60;
	
}
.Team_content p{
	font-size: 20px;
	color: #6a7199;
	
}
.Team_content{
	margin-left: 10%;
	margin-top: 10%;
}
.Team_content .btn{
	display: inline-block;
	background: linear-gradient(45deg, #87adfe, #ff77cd);
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
	color:rgb(6, 2, 255);
	font-weight: bold;

}
.arrow-icons{
	margin-top: 40px;
	display: flex;
}
.arrow-icons img{
	width: 40px;
	margin-right: 25px;
}
.feature-img{
	height: 90%;
	position: absolute;
	bottom: 0;
	right: 160px;
}
.social-links{
	transform: rotate(-90deg);
	position: absolute;
	left: -80px;
	bottom: 180px;
}
.social-links a{
	text-decoration: none;
	color: #6a7199;
	padding-right: 20px;
	font-size: 14px;
}

.loginrow{
	margin: auto;
	justify-content: center;
	align-items: center;
	height: 100vh;
	display: grid;
	padding: 5% 0 0 0 ;
}
.container{
	margin: auto;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.login_form{
	margin: auto;
	justify-content: center;
	align-items: center;
	height: 100vh;

}
.input-form{
	font-size: 1rem;
	padding:1rem 5rem 1rem 10px;
	margin:1rem auto;
	/* border-top: none;
	border-left: none;
	border-right: none; */
	border-width: 0 0 2px 0 ;
	border-color:  blueviolet;
	/* border-radius: 5px; */
	
}
.loginrow h1{
	font-size: 2rem;
	letter-spacing: 1.5px;
	color:blueviolet;
	text-align: center;

}
.loginbtn{
	padding: 1rem 8rem ;
	border-radius: 10px;
	border: none;
	
	background-color: blueviolet;
	color: white;
	letter-spacing: 2px;
	font-weight: 600;
	margin: 1rem 0px;
}
.crt-acc{
	/* align-items: right; */
	margin-left: 12rem;
	color: black;
}


.fgpwd{
	color: black;
}

.regform{
	
}
.reg-input-form{

	padding:1rem 7rem 1rem 10px;
}
#accept{
	margin: 0px 1rem 0px 0px;
}