{% extends 'base.html' %}

{% block body %}

	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand p-3" href="#">Smart Lender</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto p-2" >
			  <li class="nav-item p-2">
				<a class="nav-link " aria-current="page" href="#">Home</a>
			  </li>
			  <li class="nav-item p-2">
				<a class="nav-link" href="#">About</a>
			  </li>
			  <li class="nav-item p-2">
				<a class="nav-link" href="#">Procedure</a>
			  </li>
			  <li class="nav-item p-2">
				<a  href="login" class="nav-link ">Login</a>
			  </li>
			  <li class="nav-item p-2">
				<a class="nav-link ">Bank Login</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

	  <!-- #0C699   #ff6961  #A020F0 -->
	<div class="Team_content">
			
		<h1>Smart Lender - Applicant Credibility Prediction For Loan Approval </h1>
		<p> Predit your loan eligibility here</p><br><br>
		<a href="#" onclick="req()" class="btn">PREDICT</a>
		<br><br>
		<h2>Team ID -PNT2022TMID036723</h2><br>
		<h3>Team members</h3>
		<p>Heamanth R</p>
		<p>Mohamed Mustaq </p>
		<p>Ram Kumaran </p>
		<p>Shankara Narayanan</p>
		<p>Kishore Kumar </p>
	  
	</div>
	{% endblock %}