{% extends 'base.html' %}

{% block body %}

	

	  <!-- #0C699   #ff6961  #A020F0 -->
	<div class="Team_content">
			
		<h1>Smart Lender - Applicant Credibility Prediction For Loan Approval </h1>
		<p> Predit your loan eligibility here</p><br><br>
		<a href="#" onclick="req()" class="btn">PREDICT</a>
		<br><br>
		<h2>Team ID -PNT2022TMID036723</h2><br>
		<h3>Team members</h3>
		<p>Heamanth R</p>
		<p>Mohamed Mustaq </p>
		<p>Ram Kumaran </p>
		<p>Shankara Narayanan</p>
		<p>Kishore Kumar </p>
	  
	</div>
	{% endblock %}