{% extends 'base.html' %}

{% block body %}


    <div class="loginrow">
       <h1>Create Account</h1>
        <form class="login_form regform" action="">
            <input class="input-form reg-input-form" type="text" name="name" id="name" placeholder="name"> <br>
            <input class="input-form reg-input-form" type="email" name="email" id="name" placeholder="email"><br>
            <input class="input-form reg-input-form" type="password" name="password" placeholder="Password"  id="pwd"> <br>
            <input class="input-form reg-input-form" type="password" name="confirm_password" placeholder="confirm Password"  id="pwd"> <br>
            <input class="input-form reg-input-form" type="tel" name="phone" placeholder="Mobile Number"  id="Phone"> <br>
           
            <br>
            <!-- <a class="fgpwd" href=""><p>forgot Password </p></a> 
            <a class="crt-acc" href="">create account</a><br> -->
           
            <p> <span><input type="checkbox" name="accept" id="accept"> </span>I accept <a href="">Terms condition</a></p>
            <button class="loginbtn" type="submit">Register</button>
            
        </form>

    </div>


{% endblock %}
